<header class="shadow-lg">
    <nav class="flex flex-col" role="navigation">
        <!-- Top Bar, smaller screens order last -->
        <div class="custom-container mx-auto flex items-center justify-between py-4">
            <a href="/" aria-label="home">
                <img src="/assets/svgs/logo.svg" alt="logo" width="160" height="80" decoding="async" aria-hidden="true" />
            </a>
            <ul class="flex items-center gap-8">
                <li>
                    <a class="flex gap-4 group" href="mailto:{{ client.email }}">
                        <div class="bg-secondary p-4 group-hover:bg-main" aria-hidden="true">
                            <img src="/assets/svgs/mail-white.svg" alt="mail icon" width="24" height="24" decoding="async" />
                        </div>
                        <div class="flex flex-col justify-center">
                            <span class="text-black font-bold">Send A Message</span>
                            <span class="text-black group-hover:underline">{{ client.email }}</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="flex gap-4 group" href="tel:{{ client.phoneForTel }}">
                        <div class="bg-secondary p-4 group-hover:bg-main" aria-hidden="true">
                            <img src="/assets/svgs/phone-white.svg" alt="phone icon" width="24" height="24" decoding="async" />
                        </div>
                        <div class="flex flex-col justify-center">
                            <span class="text-black font-bold">Contact 24/7</span>
                            <span class="text-black group-hover:underline">{{ client.phoneForTel }}</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="flex gap-4 group" href="tel:{{ client.address.mapLink}}">
                        <div class="bg-secondary p-4 group-hover:bg-main" aria-hidden="true">
                            <img src="/assets/svgs/location-white.svg" alt="location icon" width="24" height="24" decoding="async" />
                        </div>
                        <div class="flex flex-col justify-center">
                            <span class="text-black font-bold">Visit Us At</span>
                            <span class="text-black group-hover:underline">{{ client.address.city }}, {{ client.address.province }}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Bottom Bar -->
        <div class="bg-bgDark">
            <div class="custom-container mx-auto flex items-center justify-between">
                <ul class="flex gap-8 text-white items-center">
                    <li class="uppercase hover:text-secondaryWhite"><a href="/">Home</a></li>
                    <li class="relative py-8">
                        <button id="services-menu-button" class="flex items-center w-full border-b-2 border-black lg:border-none" aria-haspopup="true" aria-expanded="false" aria-label="services">
                            <span class="uppercase">Services</span>
                            <img src="/assets/svgs/down-chevron.svg" alt="down icon" width="24" height="24" decoding="async" aria-hidden="true" />                             
                        </button>
                        <ul id="services-menu" class="flex flex-col gap-8 p-4 hidden lg:gap-4 lg:shadow-lg lg:absolute lg:top-20 lg:left-0 lg:bg-bgDark lg:w-48">
                            <li class="uppercase hover:text-secondaryWhite"><a href="/services">Our Services</a></li>
                            <li class="uppercase hover:text-secondaryWhite"><a href="/services/service-1">Service 1</a></li>
                            <li class="uppercase hover:text-secondaryWhite"><a href="/services/service-2">Service 2</a></li>
                            <li class="uppercase hover:text-secondaryWhite"><a href="/services/service-3">Service 3</a></li>
                            <li class="uppercase hover:text-secondaryWhite"><a href="/services/service-4">Service 4</a></li>
                            <li class="uppercase hover:text-secondaryWhite"><a href="/services/service-5">Service 5</a></li>
                            <li class="uppercase hover:text-secondaryWhite"><a href="/services/service-6">Service 6</a></li>
                        </ul>
                    </li>
                    <li class="uppercase hover:text-secondaryWhite"><a href="/about">About Us</a></li>
                    <li class="uppercase hover:text-secondaryWhite"><a href="/portfolio">Our Work</a></li>
                    <li class="uppercase hover:text-secondaryWhite"><a href="/reviews">Reviews</a></li>
                </ul>
                <a class="bg-main font-bold text-white py-3 px-5 hover:bg-secondary" href="/contact">Schedule Appointment</a>
            </div>
        </div>
    </nav>
</header>