<!-- Our Mission & Vision -->
<section class="my-32 lg:my-48">
    <div class="custom-container mx-auto flex flex-col gap-8">
        <div class="flex flex-col md:flex-row gap-8 md:items-center justify-between">
            <div class="flex flex-col gap-4 lg:w-1/2">
                <span class="text-2xl uppercase text-main font-bold">Mission &amp; Vision</span>
                <h2 class="text-black font-bold text-5xl">Moving Forward Together</h2>
            </div>
            <div aria-hidden="true">
                <img src="/assets/svgs/checkmark-double.svg" alt="checkmark icon" width="64" height="64" decoding="async" loading="lazy" />
            </div>
        </div>
        <div class="flex flex-col gap-8 items-center lg:flex-row">
            <ul class="flex flex-col gap-8 lg:w-3/5">
                <li class="flex flex-col gap-4">
                    <span class="text-main font-bold text-2xl">Our Mission</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae rerum autem eos laudantium sequi neque tempore beatae velit, nam tempora repellendus ex dicta, dolorum mollitia?</p>
                </li>
                <li class="flex flex-col gap-4">
                    <span class="text-main font-bold text-2xl">Our Vision</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium perferendis incidunt adipisci illo saepe sint? Corrupti neque quos laborum delectus praesentium quo debitis magnam sequi?</p>
                </li>
            </ul>
            <div class="relative lg:w-2/5" aria-hidden="true">
                <img src="/assets/svgs/mission-vision.svg" width="500" height="500" alt="people working" loading="lazy" decoding="async" />
                <img class="w-full h-full absolute top-0 left-0 -z-50" src="/assets/svgs/blob-mission-vision.svg" width="500" height="500" alt="blob" loading="lazy" decoding="async" />
            </div>
        </div>
        <a class="w-64 py-5 px-8 self-end text-center text-xl uppercase bg-main font-bold text-white hover:bg-secondary" href="/about">Who We Are</a>
    </div>
</section>