<!-- Pricing -->
<section class="mb-32 lg:mb-48">
    <div class="custom-container mx-auto flex flex-col gap-8">
        <div class="flex flex-col gap-4">
            <span class="text-2xl uppercase text-main font-bold">Pricing</span>
            <h2 class="ont-bold text-5xl">Simple and Transparent Pricing</h2>
            <p>No hidden fees, no suprises, see exactly what you get. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem sit deserunt a ad architecto quam repellat fugiat quaerat eos nesciunt.</p>
        </div>
        <div class="flex flex-row items-center justify-center gap-4">
            <span>Monthly</span>
            <label
            for="monthlyOrAnnualy"
            aria-label="Monthly or annualy"
            class="relative h-8 w-14 cursor-pointer rounded-full bg-placeholderText transition [-webkit-tap-highlight-color:_transparent] has-[:checked]:bg-main"
            >
            <input type="checkbox" id="monthlyOrAnnualy" class="peer sr-only" name="Monthly or annualy" />
            <span class="absolute inset-y-0 start-0 m-1 size-6 rounded-full bg-white transition-all peer-checked:start-6"></span>
            </label>
            <span>Annualy</span>
        </div>
        <ul class="flex flex-col lg:flex-row lg:justify-between gap-8">
            <li class="w-full flex flex-col gap-4 bg-white border-2 border-placeholderText p-8">
                <span class="uppercase font-bold text-secondary">Basic</span>
                <div class="flex flex-row">
                    <span id="price-1" class="font-bold text-5xl text-black">$49.99</span>
                    <span class="self-end">/mo</span>
                </div>
                <p>For personal use.</p>
                <a class="w-full py-3 px-5 text-xl text-center uppercase outline outline-2 outline-main font-bold text-main hover:outline-black hover:text-black" href="/contact">Book Appointment</a>
                <hr />
                <ul class="flex flex-col gap-2 text-base">
                    <li class="flex justify-between items-center">
                        Option 1
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 2
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 3
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 4
                        <img src="/assets/svgs/x-mark.svg" width="24" height="24" alt="x mark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 5
                        <img src="/assets/svgs/x-mark.svg" width="24" height="24" alt="x mark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 6
                        <img src="/assets/svgs/x-mark.svg" width="24" height="24" alt="x mark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                </ul>
            </li>
            <li class="w-full relative flex flex-col gap-4 border-2 border-main bg-white p-8 lg:scale-105">
                <span class="bg-main uppercase font-bold text-xl px-4 py-2 text-white absolute top-0 right-0 lg:border-2 lg:border-main">Popular</span>
                <span class="uppercase font-bold text-secondary">Pro</span>
                <div class="flex flex-row">
                    <span id="price-2" class="font-bold text-5xl text-black">$99.99</span>
                    <span class="self-end">/mo</span>
                </div>
                <p>For small and medium teams.</p>
                <a class="w-full py-3 px-5 text-xl text-center uppercase bg-main font-bold text-white hover:bg-black" href="/contact">Book Appointment</a>
                <hr />
                <ul class="flex flex-col gap-2 text-base">
                    <li class="flex justify-between items-center">
                        Option 1
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 2
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 3
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 4
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 5
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 6
                        <img src="/assets/svgs/x-mark.svg" width="24" height="24" alt="x mark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                </ul>
            </li>
            <li class="w-full flex flex-col gap-4 bg-white border-2 border-placeholderText p-8">
                <span class="uppercase font-bold text-secondary">Enterprise</span>
                <div class="flex flex-row">
                    <span id="price-3" class="font-bold text-5xl text-black">$199.99</span>
                    <span class="self-end">/mo</span>
                </div>
                <p>For large teams.</p>
                <a class="w-full py-3 px-5 text-xl text-center uppercase outline outline-2 outline-main font-bold text-main hover:outline-black hover:text-black" href="/contact">Book Appointment</a>
                <hr />
                <ul class="flex flex-col gap-2 text-base">
                    <li class="flex justify-between items-center">
                        Option 1
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 2
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 3
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 4
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 5
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                    <li class="flex justify-between items-center">
                        Option 6
                        <img src="/assets/svgs/checkmark.svg" width="24" height="24" alt="checkmark" decoding="async" loading="lazy" aria-hidden="true" />
                    </li>
                </ul>
            </li>
        </ul> 
    </div>
</section>