<section class="mb-32 lg:mb-48">
    <div class="custom-container mx-auto flex flex-col items-center gap-16 lg:flex-row">
        <div class="flex flex-col gap-8 lg:w-1/2">
            <div class="flex flex-col gap-4">
                <span class="text-2xl uppercase text-main font-bold">Our Analytics Tools</span>
                <h2 class="font-bold text-5xl">Move Your Business Forward With Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque esse culpa ab omnis, ut voluptatibus minima doloribus aperiam rerum asperiores excepturi officia, non iusto rem, incidunt aut. Suscipit repellendus sint dignissimos labore tempora sapiente corrupti nulla et, adipisci veritatis cum accusamus, consequuntur, id magnam ab fugit minus aut fugiat nihil.</p>
            </div>
            <div class="relative" aria-hidden="true">
                <img src="/assets/svgs/analytics-wide.svg" alt="person standing next to graph" width="500" height="500" decoding="async" loading="lazy" />
                <img class="w-full h-full absolute top-0 left-0 -z-50" src="/assets/svgs/blob-analytics-wide.svg" alt="blob" width="500" height="500" decoding="async" loading="lazy" />
            </div>
        </div>
        <div class="flex flex-col gap-8 lg:w-1/2 lg:items-between">
            <ul class="flex flex-row gap-8 lg:order-last">
                <li class="flex flex-col gap-4 pb-8 border-b-2 border-main">
                    <span class="text-black font-bold text-5xl">99&percnt;</span>
                    <span>Positive Feedback</span>
                </li>
                <li class="flex flex-col gap-4 pb-8 border-b-2 border-main">
                    <span class="text-black font-bold text-5xl">Fast</span>
                    <span>See As It Happens</span>
                </li>
                <li class="flex flex-col gap-4 pb-8 border-b-2 border-main">
                    <span class="text-black font-bold text-5xl">24/7</span>
                    <span>Fast Responses</span>
                </li>
            </ul>
            <div class="relative" aria-hidden="true">
                <img src="/assets/svgs/analytics-tall.svg" alt="person standing next to data visualization" width="500" height="500" decoding="async" loading="lazy" />
                <img class="w-full h-full absolute top-0 left-0 -z-50" src="/assets/svgs/blob-analytics-tall.svg" alt="blob" width="500" height="500" decoding="async" loading="lazy" />
            </div>
        </div>
    </div>
</section>