<!-- Stats -->
<section class="my-32">
    <div class="custom-container mx-auto flex flex-col gap-8">
        <div class="flex flex-col lg:flex-row gap-8 items-center">
            <div class="flex flex-col lg:w-1/2">
                <span class="text-2xl uppercase text-main font-bold">Time Management Made Easy</span>
                <h2 class="text-black font-bold text-5xl">Save Money and Time With Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus mollitia nesciunt soluta provident eos ducimus eligendi beatae, aperiam nisi exercitationem totam fugiat ea ut nihil deleniti necessitatibus. Omnis, ut dignissimos.</p>
            </div>
            <ul class="flex flex-col gap-4 lg:grid lg:grid-cols-2 w-full lg:w-1/2">
                <li class="flex gap-4 w-full p-8 bg-white items-center border-2 border-black">
                    <img src="/assets/svgs/transparency.svg" alt="magnifying glass icon" width="36" height="36" loading="lazy" decoding="async" aria-hidden="true" />
                    <span class="text-black font-bold text-2xl">Transparency</span>
                </li>
                <li class="flex gap-4 w-full p-8 bg-white items-center border-2 border-black">
                    <img src="/assets/svgs/empowerment.svg" alt="arm icon" width="36" height="36" loading="lazy" decoding="async" aria-hidden="true" />
                    <span class="text-black font-bold text-2xl">Empowerment</span>
                </li>
                <li class="flex gap-4 w-full p-8 bg-white items-center border-2 border-black">
                    <img src="/assets/svgs/growth.svg" alt="growth line icon" width="36" height="36" loading="lazy" decoding="async" aria-hidden="true" />
                    <span class="text-black font-bold text-2xl">Growth</span>
                </li>
                <li class="flex gap-4 w-full p-8 bg-white items-center border-2 border-black">
                    <img src="/assets/svgs/partnership.svg" alt="shaking hands icon" width="36" height="36" loading="lazy" decoding="async" aria-hidden="true" />
                    <span class="text-black font-bold text-2xl">Partnership</span>
                </li>
            </ul>
        </div>
        <ul class="grid grid-cols-6 lg:grid-cols-5 text-center">
            <li class="stat relative flex flex-col items-center justify-center gap-4 p-8 col-span-2 lg:col-span-1">
                <span class="text-xl">Locations</span>
                <span class="font-bold text-4xl text-black">10+</span>
            </li>
            <li class="stat relative flex flex-col items-center justify-center gap-4 p-8 col-span-2 lg:col-span-1">
                <span class="text-xl">Years of Experience</span>
                <span class="font-bold text-4xl text-black">12+</span>
            </li>
            <li class="lg:stat relative flex flex-col items-center justify-center gap-4 p-8 col-span-2 lg:col-span-1">
                <span class="text-xl">Team Size</span>
                <span class="font-bold text-4xl text-black">100+</span>
            </li>
            <li class="stat relative flex flex-col items-center justify-center gap-4 p-8 col-span-3 lg:col-span-1">
                <span class="text-xl">Happy Clients</span>
                <span class="font-bold text-4xl text-black">5000+</span>
            </li>
            <li class="flex flex-col items-center justify-center gap-4 p-8 col-span-3 lg:col-span-1">
                <span class="text-xl">Dollars Saved</span>
                <span class="font-bold text-4xl text-black">Millions</span>
            </li>
        </ul>
        <a class="w-64 py-5 px-8 self-end text-center text-xl uppercase bg-main font-bold text-white hover:bg-secondary" href="/contact">Get in Touch</a>
    </div>
</section>