<!-- Work for You -->
<section class="my-32 lg:my-48">
    <div class="custom-container mx-auto flex flex-col gap-8">
        <div class="flex flex-col lg:flex-row gap-8 items-center">
            <div class="flex flex-col gap-4 lg:w-1/2">
                <span class="text-2xl uppercase text-main font-bold">Award Winning Process</span>
                <h2 class="text-black font-bold text-5xl">How Ipsum Planning Works For You</h2>
            </div>
            <div class="lg:w-1/2">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, impedit in? Totam iusto debitis fuga nesciunt quas tempore unde dolor blanditiis? Quasi illum molestiae cupiditate repudiandae eos beatae eius impedit?</p>
            </div>
        </div>
        <ul class="flex flex-col gap-8 lg:flex-row">
            <li class="flex flex-col gap-16 bg-white border-2 border-black p-8">
                <span class="text-secondary font-bold text-2xl">Step 1</span>
                <div class="flex flex-col gap-4">
                    <h3 class="text-4xl">Book Free Meeting</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit sapiente cum ipsa labore quas quidem officiis voluptates nisi dolore tenetur?</p>
                </div>
            </li>
            <li class="flex flex-col gap-16 bg-white border-2 border-black p-8">
                <span class="text-secondary font-bold text-2xl">Step 2</span>
                <div class="flex flex-col gap-4">
                    <h3 class="text-4xl">Understand Goals</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit sapiente cum ipsa labore quas quidem officiis voluptates nisi dolore tenetur?</p>
                </div>
            </li>
            <li class="flex flex-col gap-16 bg-white border-2 border-black p-8">
                <span class="text-secondary font-bold text-2xl">Step 3</span>
                <div class="flex flex-col gap-4">
                    <h3 class="text-4xl">Grow Your Business</h3>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit sapiente cum ipsa labore quas quidem officiis voluptates nisi dolore tenetur?</p>
                </div>
            </li>
        </ul>
        <a class="w-64 py-5 px-8 self-end text-center text-xl uppercase bg-main font-bold text-white hover:bg-secondary" href="/services">What We Offer</a>
    </div>
</section>