---
title: 'Client Site'
description: 'Meta description for the page'
preloadImg: '/assets/svgs/landing.svg'
permalink: '/'
---

{% extends "layouts/base.html" %}

{% block body %}
    <!-- Hero -->
    <section class="bg-mainLight">
        <div class="custom-container mx-auto pt-16 gap-16 lg:pt-24 flex flex-col lg:flex-row lg:justify-between items-center">
            <div class="flex flex-col">
                <span class="uppercase text-main font-bold text-2xl">Tools for Your Small Business</span>
                <h1 class="font-bold text-6xl mb-4">Ipsum Planning</h1>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolorem dicta nisi. Cumque repudiandae soluta eum reprehenderit vitae incidunt quam?</p>
                <div class="flex flex-col md:flex-row items-center lg:items-start gap-8 text-2xl text-center xs:text-lg">
                    <a class="w-80 py-5 px-8 uppercase bg-main outline outline-2 outline-main hover:outline-secondary font-bold text-white hover:bg-secondary" href="/services">What We Offer</a>
                    <a class="w-80 py-5 px-8 uppercase outline outline-2 outline-black font-bold text-black hover:bg-black hover:text-white" href="/contact">Get in Touch</a>
                </div>
            </div>
            <img src="/assets/svgs/landing.svg" width="500" height="500" alt="people visualizing data" loading="eager" decoding="async" aria-hidden="true" />
        </div>
    </section>

    <!-- Main Services -->
    <section class="relative">
        <img class="w-full" src="/assets/svgs/wave-top.svg" width="2500" height="300" alt="wave" decoding="async" aria-hidden="true" />
        <ul class="custom-container mx-auto flex flex-col gap-8 -mt-16 md:-mt-32 lg:-mt-64 lg:flex-row">
            <li class="bg-white flex flex-col p-8 shadow-lg gap-4">
                <img src="/assets/svgs/creative.svg" alt="lightbulb icon" width="48" height="48" decoding="async" loading="lazy" aria-hidden="true" />
                <h2 class="text-main font-bold text-2xl">Creative Solutions</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem animi similique nulla molestias quia at?</p>
            </li>
            <li class="bg-white flex flex-col p-8 shadow-lg gap-4">
                <img src="/assets/svgs/professional.svg" alt="checkmark icon" width="48" height="48" decoding="async" loading="lazy" aria-hidden="true" />
                <h2 class="text-main font-bold text-2xl">Professional Team</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem animi similique nulla molestias quia at?</p>
            </li>
            <li class="bg-white flex flex-col p-8 shadow-lg gap-4">
                <img src="/assets/svgs/reports.svg" alt="analytics icon" width="48" height="48" decoding="async" loading="lazy" aria-hidden="true" />
                <h2 class="text-main font-bold text-2xl">Detailed Reports</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem animi similique nulla molestias quia at?</p>
            </li>
        </ul>
    </section>

    {% include "components/stats.html" %}
{% endblock %}